.hero {
    margin: 0;
    display: flex;
    margin-top: -75px;
    padding: 20px 70px;
    align-items: center;
    justify-content: center;
    background: rgb(130,255,232);
    background: linear-gradient(158deg, rgba(130,255,232,1) 0%, rgba(255,255,255,1) 27%);
}

.h1 {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 40px;
}

.text {
    font-weight: 400;
    font-size: 16px;
}

.form {
    width: 496px;
    height: 56px;
    display: flex;
    align-items: center;
    border-radius: 32px;
    background: #FFFFFF;
    border: 1px solid #E0E3EB;
    justify-content: space-between;
}

.input {
    border: none;
    margin: 5px;
    outline: none;
}

.button {
    margin: 5px;
    width: 109px;
    height: 48px;
    border: none;
    border-radius: 32px;
    background: #10B981;
    transition: width .4s all;
    transition: height .4s all;
    transition: background .4s all;
}

.button:hover {
    width: 105px;
    height: 45px;
    transition: .4s all;
    background: #109f70c0;
}

.heroImg{ 
    width: 720px;
    height: 720px;
    border-radius: 0 0 0 80px;
}

@media (max-width: 1025px) {
    .form {
        width: 360px;
    }
    
    .heroImg{
        width: 570px;
        height: 570px;
    }
}

@media (max-width: 969px) {
    .form {
        width: 300px;
    }
    
    .heroImg{
        width: 500px;
        height: 500px;
    }
}

@media (max-width: 848px) {
    .form {
        width: 300px;
    }
    
    .heroImg{
        width: 400px;
        height: 400px;
    }
}

@media (max-width: 768px) {
    .form {
        width: 300px;
        height: 46px;
    }
    
    .heroImg {
        width: 250px;
        height: 250px;
    }

    .h1 {
        font-size: 32px;
    }

    .text {
        font-size: 13px;
    }
}


@media (max-width: 601px) {
    .hero {
        padding: 45px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }
}

@media (max-width: 426px) {
    .h1 {
        font-size: 24px;
    }

    .text {
        font-size: 10px;
    }

    .hero {
        margin-top: -75px;
    }
}